language: python
python:
 - "2.7"

services: mongodb

install:
 - python -m pip install pymongo==3.1.1
 - pip install -r requirements.txt

script:
 - python NoInventory/test_clasificacion.py
 - python NoInventory/test_item.py
 - python NoInventory/test_catalogo.py

after_deploy:
  - python manage.py syncdb --noinput

env:
  global:
  - DJANGO_SETTINGS_MODULE="NoInventoryProject.settings"
  - PYTHONPATH="/home/travis/build/hugobarzano/noinventory"
  - HEROKU=true
