Django==1.8
wheel==0.24.0
django-bootstrap-form==3.2
gunicorn==19.4.5
django-registration-redux
django-bootstrap-toolkit==2.15.0
djangorestframework==3.3.0
pymongo==2.8
django-easy-maps
static3==0.6.1
reportlab
