{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}


{% block body_block %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Datos de Usuario</h3>
  </div>
  <form id="user_form" method="post" action="/register/"
    enctype="multipart/form-data">
      {% csrf_token %}
      {% load bootstrap %}
      {{ user_form.username|bootstrap }}
      {{ user_form.email|bootstrap }}
      {{ user_form.password|bootstrap }}
      <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Organizacion o Almacén </h3>
      </div>
    </div>
      {{ profile_form.organizacion|bootstrap }}

      <input type="submit" name="submit" value="Completar Registro" onclick="alerta()" />
  </form>

</div>



{% endblock %}
