{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}


{% block body_block %}

{% if registered %}

        <strong>Thank you for registering!</strong>
       <a href="/rango/">Return to the homepage.</a><br />
       {% else %}
          <h1>Register Here</h1>
          <form id="user_form" method="post" action="/noinventory/register/"
            enctype="multipart/form-data">
              {% csrf_token %}
              {{ user_form.as_p }}
              {{ profile_form.as_p }}
              <input type="submit" name="submit" value="Register" onclick="alerta()" />
          </form>
        {% endif %}
{% endblock %}
