

.panel-primary{
  border-color:rgba(203,96,179,1);

}

.panel-primary > .panel-heading {



background: rgba(168,0,119,1);
background: -moz-linear-gradient(left, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 49%, rgba(202,94,178,1) 99%, rgba(203,96,179,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(168,0,119,1)), color-stop(49%, rgba(168,0,119,1)), color-stop(99%, rgba(202,94,178,1)), color-stop(100%, rgba(203,96,179,1)));
background: -webkit-linear-gradient(left, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 49%, rgba(202,94,178,1) 99%, rgba(203,96,179,1) 100%);
background: -o-linear-gradient(left, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 49%, rgba(202,94,178,1) 99%, rgba(203,96,179,1) 100%);
background: -ms-linear-gradient(left, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 49%, rgba(202,94,178,1) 99%, rgba(203,96,179,1) 100%);
background: linear-gradient(to right, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 49%, rgba(202,94,178,1) 99%, rgba(203,96,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80077', endColorstr='#cb60b3', GradientType=1 );

  border-color:rgba(203,96,179,1);

}
.datos_item{
  color:#fff
}

.lista{
  color:#111
}
.correo{
  color:#fff
}
