

.panel panel-primary{
  background-color:#800080;
  border-color:#800080;
}
.panel-primary{
  background-color:#800080;
  border-color:#800080;
}
.panel {
  background-color:#800080;
  border-color:#800080;
}
