{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}


{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/noinventory/nuevoCatalogo"> <button id='nuevoCatalogo'>Nuevo Catalogo</button></a>
{% endblock %}


        {% block body_block %}

    <div class="page-header">
                <h1>¡Bienvenido a Gestion de Catalogo!</h1>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{catalogo.nombre_catalogo}}</h3>
      </div>
    </div>
    <ul class="list-group">
       <li class="list-group-item">
    {% if catalogo %}
          Fecha: {{catalogo.fecha_alta_catalogo}} </h3>
            <p>
              Descripcion: {{ catalogo.descripcion_catalogo }}
            </p>
            Tag: {{catalogo.tag_catalogo}}
            Tipo: {{catalogo.tipo_catalogo}}
            <br>
            <br>
            Creado por: {{ i.usuario }}
            Para la Organizacion: {{i.organizacion}}
            <br>
            {{ catalogo.qr_data|qrcode:"my alt" }}
    {% else %}
         <strong>No hay Catalogo</strong>
    {% endif %}
  </li>
  </ul>


      <div class="row placeholders">
      <div class="col-xs-12 col-sm-6 placeholder">
         <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Items del catalogo </h3>
          </div>
        </div>
        <ul class="list-group">
           <li class="list-group-item">
        {% if catalogo %}
          {% if catalogo.items_catalogo  %}
            {% for n in catalogo.items_catalogo %}
            <br>
            <h> {{ n }}  </h>
            <br>
             {% endfor %}
          {%else %}
            <strong> No hay Items asociados </strong>
          {% endif %}
        {% else %}
             <strong>No hay Catalogo</strong>
        {% endif %}
      </li>
      </ul>
      </div>


    <div class="col-xs-12 col-sm-6 placeholder">
      <div class="panel panel-primary">
       <div class="panel-heading">
         <h3 class="panel-title">Items </h3>
       </div>
     </div>

     <div id="accordion">
       {% if lista_items %}
         {% for i in lista_items %}
             <h3>Nombre: {{i.nombre_item}} Fecha: {{i.fecha_alta_item}} </h3>
             <div id="{{i.id}}">
               <p>
                 Descripcion: {{ i.descripcion_item }}
               </p>
               Tags: {{i.tag_item}}
               <br>
               Estado: {{i.tag2}}
               <br>
               Tipo: {{ i.tag3 }}
               <br>
               <a href="/noinventory/addToCatalogo/{{ catalogo_id }}/{{ i|documento_id}}"> <button class="btn btn-default btn-xs">Añadir</button></a>
             </div>
         {% endfor %}
       {% else %}
            <strong>No hay Objetos.</strong>
       {% endif %}
       </div>
    </div>





        {% endblock %}
