{% extends "base.html" %}
{% load staticfiles %}

{% load qr %}
{% block title %}Index{% endblock %}


{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>


{% endblock %}


        {% block body_block %}
        <div id="freeow" class="freeow freeow-bottom-right"></div>



    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"><strong>{{catalogo.nombre_catalogo}}</strong>
        <button type="button" class="btn btn-default btn-sm pull-right" id='updateCatalogo'><span class="glyphicon glyphicon-refresh"></span> <strong> Actualizar</strong></button>
        <button type="button" class="btn btn-default btn-sm pull-right" onclick="setNotificacion3();" id='cleanCatalogo'><span class="glyphicon glyphicon-fire"></span> <strong> Limpiar</strong></button>
        <br>
        <br>
      </h1>

      </div>

    <ul class="list-group" id="catalogo" data-catalogo = "{{ catalogo_id }}">
       <li class="list-group-item">
    {% if catalogo %}
          Fecha: {{catalogo.fecha_alta_catalogo}} </h3>
            <p>
              Descripcion: {{ catalogo.descripcion_catalogo }}
            </p>
            Tag: {{catalogo.tag_catalogo}}
            Tipo: {{catalogo.tipo_catalogo}}
            <hr>
            <p id="peso">Peso Total: {{catalogo.peso_total}}</p>

            <br>
            <br>
            Creado por: {{ catalogo.usuario }}
            Para la Organizacion: {{catalogo.organizacion}}
            <br>
            {{ catalogo.qr_data|qrcode:"my alt" }}
            <br>

    {% else %}
         <strong>No hay Catalogo</strong>
    {% endif %}
  </li>
  </ul>
  </div>

         <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Items del catalogo </h3>
          </div>


        <div class="table-responsive">
        <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Item</th>
            <th>Fecha</th>
            <th>{{ tag1 }}</th>
            <th>{{ tag2 }}</th>
            <th>{{ tag3 }}</th>
            <th>Peso</th>
          </tr>
        </thead>
        <tbody >
          {% if lista_items %}
            {% for i in lista_items %}
              <tr>
                <td>{{i.nombre_item}}</td>
                <td>{{ i.fecha_alta_item }}</td>
                <td>{{ i.tag1 }}</td>
                <td>{{ i.tag2 }}</td>
                <td>{{ i.tag3 }}</td>
                <td>{{ i.peso }}</td>

                <td><button class=" btn btn-default btn-sm borrarBoton"  onclick="setNotificacion4();" data-item="{{ i|documento_id}}" id="{{ i|documento_id}}"><span class="glyphicon glyphicon-fire"></span></button></td>
              </tr>
            {% endfor %}
            {% endif %}
          </tr>
        </tbody>
        </table>
      </div>

    </div>






  <script>
  function setNotificacion3() {
    $("#freeow").freeow("Catálogo Limpiado con Éxito", "No tiene Items asociados", {
      classes: ["smokey", "notice"],
      autoHide: false
    });
  }
  function setNotificacion4() {
    $("#freeow").freeow("Item", "Eliminado del catálogo", {
      classes: ["smokey", "notice"],
      autoHide: true
    });
  }
  $(function () {
      $("#updateCatalogo").click(function (){

          $.ajax({
            url: "/updateCatalogoAndroid/",
            type: "get", //send it through get method
            data:{catalogo_id:$("#catalogo").attr("data-catalogo")},
            cache: false,
            success: function(response) {
              console.log(response)
                $('.table').html(response["contenido"])
                $('#peso').html('<p id="peso">Peso Total: '+response["peso_total"]+'</p>')

            },
            error: function(xhr) {
            }
        });
      })
  })


  $(function () {
      $("#cleanCatalogo").click(function (){

          $.ajax({
            url: "/cleanCatalogo/",
            type: "get", //send it through get method
            data:{catalogo_id:$("#catalogo").attr("data-catalogo")},
            cache: false,
            success: function(response) {
              console.log(response)
                $('.table').html(response["contenido"])
                $('#peso').html('<p id="peso">Peso Total: '+response["peso_total"]+'</p>')

            },
            error: function(xhr) {
            }
        });
      })
  })


  $(document).on('click', ".borrarBoton", function () {
    console.log("boton para borrar")
    var catid = $(this).attr("data-item")
    var catalogo=$("#catalogo").attr("data-catalogo")
    console.log("has pulsado el catalogo")
    console.log(catalogo)

    $.ajax({
      url: "/borrarItemFromCatalogo/",
      type: "get", //send it through get method
      data:{item_id:catid,catalogo_id:catalogo},
      success: function(response) {
        $('.table').html(response)

      },
      error: function(xhr) {
      }
    });
  });

  function actualiza() {
    console.log("actualizacion")
    $.ajax({
      url: "/updateCatalogo/",
      type: "get", //send it through get method
      data:{catalogo_id:$("#catalogo").attr("data-catalogo")},
      cache: false,
      success: function(response) {
        console.log(response)
          $('.table').html(response["contenido"])
          $('#peso').html('<p id="peso">Peso Total: '+response["peso_total"]+'</p>')

      },
      error: function(xhr) {
      }
  });
  }

  $(document).ready(function(){
        setInterval(actualiza, 3000);
  });



  </script>




        {% endblock %}
