{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}


{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/nuevoCatalogo"> <button id='nuevoCatalogo'>Nuevo Catalogo</button></a>
{% endblock %}


        {% block body_block %}

    <div class="page-header">
                <h1>¡Bienvenido a Gestion de Catalogo!</h1>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Catalogos Destacados</h3>
        </div>
      </div>
      <div id="accordion">
        {% if lista_catalogos %}
          {% for i in lista_catalogos %}
              <h3>Nombre: {{i.nombre_catalogo}} Fecha: {{i.fecha_alta_catalogo}} </h3>
              <div id="{{ i|documento_id }}">
                <p>
                  Descripcion: {{ i.descripcion_catalogo }}
                </p>
                Tags: {{i.tag_catalogo}}
                <br>
                {{ i.qr_data|qrcode:"my alt" }}
                <button class="btn btn-default btn-xs borrarBoton" data-inventory="{{i.id}}">Borrar</button>
                 <a href="/catalogo/{{ i|documento_id }}"> <button class="btn btn-default btn-xs">Items</button></a>
                 <a href="/modificarCatalogo/{{ i|documento_id}}"><button class="btn btn-default btn-xs"> Modificar</button> </a>
              </div>
          {% endfor %}
        {% else %}
             <strong>No hay Catalogos.</strong>
        {% endif %}
        </div>
        <br>
        <br>

        {% endblock %}
