{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
{% endblock %}

        {% block body_block %}

        <div class="panel panel-primary">
          <div class="panel-heading">
            <select name="lista_catalogos" id="lista_catalogos" class="form-control">
              {% for i in lista_catalogos %}
               <h3 class="panel-title"> <option value="{{ i|documento_id}}">{{i.nombre_catalogo}}</option></h3>
                {% endfor %}
             </select>
              <hr>
              Utiliza tus catálogos para generar gráficos
          </div>
         </div>


        <script>

        $().ready(function GetValorCatalogo(){
          Graficos(document.getElementById('lista_catalogos').value,1)
          $('#lista_catalogos').change(function () {
            Graficos(document.getElementById('lista_catalogos').value,1)
          });
        });


        function Graficos(catalogo,modo){
         $(function(){
           $.ajax({
             url:  '/dataGraficos/',
             type: 'get',
             data:{catalogo:catalogo,modo:modo},
             success: function(datos) {
               console.log(datos["datos1"]["claveTag1"])
               Visualiza_datos(datos);
             },
             failure: function(datos) {
               alert('esto no vá');
             }
           });


           function Visualiza_datos(datos) {
               var claveTag1=datos["datos1"]["claveTag1"];
               var valorTag1=datos["datos1"]["valorTag1"];
               var clavePesoTag1=datos["datosPeso1"]["clavePesoTag1"]
               var valorPesoTag1=datos["datosPeso1"]["valorPesoTag1"]

               var claveTag2=datos["datos2"]["claveTag2"];
               var valorTag2=datos["datos2"]["valorTag2"];
               var clavePesoTag2=datos["datosPeso2"]["clavePesoTag2"]
               var valorPesoTag2=datos["datosPeso2"]["valorPesoTag2"]

               var claveTag3=datos["datos3"]["claveTag3"];
               var valorTag3=datos["datos3"]["valorTag3"];
               var clavePesoTag3=datos["datosPeso3"]["clavePesoTag3"]
               var valorPesoTag3=datos["datosPeso3"]["valorPesoTag3"]

               var claveFecha=datos["datosf"]["claveFecha"];
               var valorFecha=datos["datosf"]["valorFecha"];
               var clavePesoFecha=datos["datosPesof"]["clavePesoFecha"]
               var valorPesoFecha=datos["datosPesof"]["valorPesoFecha"]



           $('#container').highcharts({
               chart: {
                 renderTo: 'chart',
                 type: 'column',
                 margin: 75,
                 marginTop:100,
                 options3d: {
                   enabled: true,
                   alpha: 0,
                   beta: 0,
                   depth: 50,
                   viewDistance: 25
                 }
               },
               navigation: {
                 buttonOptions: {
                   enabled: true
                 }
               },
               scrollbar: { enabled: true },
               title: {
                   text: 'tag1'
               },
               xAxis: {
                   categories: claveTag1
               },
               yAxis: {
                   title: {
                       text: 'Numero de elementos'
                   }
               },
               series: [{
                   name: 'uds',
                   data: valorTag1
               },{
                   name: 'Kg',
                   data: valorPesoTag1
               }],
           });
           $('#container2').highcharts({
               chart: {
                 renderTo: 'chart',
                 type: 'column',
                 margin: 75,
                 marginTop:100,
                 options3d: {
                   enabled: true,
                   alpha: 0,
                   beta: 0,
                   depth: 50,
                   viewDistance: 25
                 }
               },
               navigation: {
                 buttonOptions: {
                   enabled: true
                 }
               },
               scrollbar: { enabled: true },
               title: {
                   text: 'tag2'
               },
               xAxis: {
                   categories: claveTag2
               },
               yAxis: {
                   title: {
                       text: 'Numero de elementos'
                   }
               },
               series: [{
                   name: 'uds',
                   data: valorTag2
               },{
                   name: 'Kg',
                   data: valorPesoTag2
               }],
           });
           $('#container3').highcharts({
               chart: {
                 renderTo: 'chart',
                 type: 'column',
                 margin: 75,
                 marginTop:100,
                 options3d: {
                   enabled: true,
                   alpha: 0,
                   beta: 0,
                   depth: 50,
                   viewDistance: 25
                 }
               },
               navigation: {
                 buttonOptions: {
                   enabled: true
                 }
               },
               scrollbar: { enabled: true },
               title: {
                   text: 'tag3'
               },
               xAxis: {
                   categories: claveTag3
               },
               yAxis: {
                   title: {
                       text: 'Numero de elementos'
                   }
               },
               series: [{
                   name: 'uds',
                   data: valorTag3
               },{
                   name: 'Kg',
                   data: valorPesoTag3
               }],
           });
           $('#container4').highcharts({
               chart: {
                 renderTo: 'chart',
                 type: 'column',
                 margin: 75,
                 marginTop:100,
                 options3d: {
                   enabled: true,
                   alpha: 0,
                   beta: 0,
                   depth: 50,
                   viewDistance: 25
                 }
               },
               navigation: {
                 buttonOptions: {
                   enabled: true
                 }
               },
               scrollbar: { enabled: true },
               title: {
                   text: 'Fecha'
               },
               xAxis: {
                   categories: claveFecha
               },
               yAxis: {
                   title: {
                       text: 'Numero de elementos'
                   }
               },
               series: [{
                   name: 'uds',
                   data: valorFecha
               },{
                   name: 'kg',
                   data: valorPesoFecha
               }],
           });



       };
       });
     };














</script>





        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <div id="container" style="height: 300px"></div>
        <hr>
        <hr>
        <br>
        <div id="container2" style="height: 300px"></div>
        <hr>
        <hr>
        <br>
        <div id="container3" style="height: 300px"></div>
        <hr>
        <hr>
        <br>
        <div id="container4" style="height: 300px"></div>












{% endblock %}
