{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/noinventory/nuevoItem"> <button id='nuevoItem'>Nuevo Item</button></a>
<button type="button" class="saveGrafic btn-default">Guardar Gráfico</button>
{% endblock %}

        {% block body_block %}




        <div class="btn-group">
          <button type="button" class="btn1 btn-default">TAG1</button>
          <button type="button" class="btn2 btn-default">TAG2</button>
          <button type="button" class="btn3 btn-default">TAG3</button>
        </div>


      


        <script>


          $().ready(function GetValorTag1(){
          $('#tag1').change(function () {
          var dato_l1 = document.getElementById('tag1').value;
          console.log("Cambiando valor 1")
          console.log(dato_l1)
           window.tag1=dato_l1;
            Graficos_TAG1(dato_l1)
          return dato_l1;
        });
        });

        $().ready(function GetValorTag2(){
        $('#tag2').change(function () {
        var dato_l2 = document.getElementById('tag2').value;
        console.log("Cambiando valor 2")
        console.log(dato_l2)
         window.tag1=dato_l2;
        Graficos_TAG2(dato_l2);
        return dato_l2;
      });
      });

      $().ready(function GetValorTag3(){
      $('#tag3').change(function () {
      var dato_l3 = document.getElementById('tag3').value;
      console.log("Cambiando valor 3")
      console.log(dato_l3)
       window.tag1=dato_l3;
        Graficos_TAG3(dato_l3)
      return dato_l3;
    });
    });




        $().ready(function(){
          $("#tag1").show();
          $("#tag2").hide();
          $("#tag3").hide();
          var dato_l1 = document.getElementById('tag1').value;
          Graficos_TAG1(dato_l1)

            $(".btn1").click(function() {
              console.log("boton1")
              $("#tag1").show();
              $("#tag2").hide();
              $("#tag3").hide();
              var dato_l1 = document.getElementById('tag1').value;
              Graficos_TAG1(dato_l1)


            });
            $(".btn2").click(function() {
              console.log("boton2")
              $("#tag1").hide();
              $("#tag2").show();
              $("#tag3").hide();
              var dato_l2 = document.getElementById('tag2').value;
              Graficos_TAG2(dato_l2)

            });
            $(".saveGrafic").click(function() {
              console.log("guardar grafico")
              var canvas = document.getElementById("canvas");
              var img    = canvas.toDataURL("image/png");
              document.write('<img src="'+img+'"/>');
            });

            $(".btn3").click(function() {
              console.log("boton3")
              $("#tag1").hide();
              $("#tag2").hide();
              $("#tag3").show();
              var dato_l3 = document.getElementById('tag3').value;
              Graficos_TAG3(dato_l3)
            });
          });




</script>








        {% if lista_tag1 %}
        <select name="tag1" id="tag1" >
          {% for i in lista_tag1 %}
            <option value="{{i.VALOR1}}">{{i.VALOR1}}</option>
            {% endfor %}
         </select>
        {% else %}
             <strong>No hay Objetos.</strong>
        {% endif %}

        {% if lista_tag2 %}
        <select name="tag2" id="tag2">
          {% for i in lista_tag2 %}
            <option value="{{i.VALOR2}}">{{i.VALOR2}}</option>
            {% endfor %}
         </select>
        {% else %}
             <strong>No hay Objetos.</strong>
        {% endif %}

        {% if lista_tag3 %}
        <select name="tag3" id="tag3">
          {% for i in lista_tag3 %}
            <option value="{{i.VALOR3}}">{{i.VALOR3}}</option>
            {% endfor %}
         </select>
        {% else %}
             <strong>No hay Objetos.</strong>
        {% endif %}











        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

          <canvas id="canvas" width="200" height="200">
        <div id="container" style="height: 300px"></div>
      </canvas>
        <hr>
        <hr>
        <br>
        <br>
        <div id="container2" style="height: 300px"></div>






        <script>



          function Graficos_TAG1(tag1){
           $(function(){
             $.ajax({
               url:  '/noinventory/datosTag1/?tag1='+tag1,
               type: 'get',
               success: function(datos) {
                 Visualiza_datos(datos);
               },
               failure: function(datos) {
                 alert('esto no vá');
               }
             });


             function Visualiza_datos(datos) {
                 var claveTag2=datos['datos1']['clave'];
                 var valorTag2=datos['datos1']['valor'];

                 var claveTag3=datos['datos2']['clave'];
                 var valorTag3=datos['datos2']['valor'];



                 console.debug('voy a mostrar el nombre de los bares')
                 console.log(claveTag2);
                 console.log(valorTag2);
             $('#container').highcharts({
                 chart: {
                   renderTo: 'chart',
                   type: 'column',
                   margin: 75,
                   marginTop:100,
                   options3d: {
                     enabled: true,
                     alpha: 0,
                     beta: 0,
                     depth: 50,
                     viewDistance: 25
                   }
                 },
                 navigation: {
                   buttonOptions: {
                     enabled: true
                   }
                 },
                 scrollbar: { enabled: true },
                 title: {
                     text: tag1
                 },
                 xAxis: {
                     categories: claveTag2
                 },
                 yAxis: {
                     title: {
                         text: 'Numero de elementos'
                     }
                 },
                 series: [{
                     name: 'TAG2',
                     data: valorTag2
                 }],
             });
             $('#container2').highcharts({
               chart: {
                 renderTo: 'chart',
                 type: 'column',
                 margin: 75,
                 marginTop:100,
                 options3d: {
                   enabled: true,
                   alpha: 0,
                   beta: 0,
                   depth: 50,
                   viewDistance: 25
                 }
               },
               navigation: {
                 buttonOptions: {
                   enabled: true
                 }
               },
               scrollbar: { enabled: true },
                 title: {
                     text: tag1
                 },
                 xAxis: {
                     categories: claveTag3
                 },
                 yAxis: {
                     title: {
                         text: 'Numero de elementos'
                     }
                 },
                 series: [{
                     name: 'TAG3',
                     data: valorTag3
                 }],
             });
         };
         });
       };






       function Graficos_TAG2(tag2){
        $(function(){
          $.ajax({
            url:  '/noinventory/datosTag2/?tag2='+tag2,
            type: 'get',
            success: function(datos) {
              Visualiza_datos2(datos);
            },
            failure: function(datos) {
              alert('esto no vá');
            }
          });


          function Visualiza_datos2(datos) {
              var claveTag1=datos['datos1']['clave'];
              var valorTag1=datos['datos1']['valor'];

              var claveTag3=datos['datos2']['clave'];
              var valorTag3=datos['datos2']['valor'];



              console.debug('voy a mostrar el nombre de los bares')
              console.log(claveTag1);
              console.log(valorTag1);
          $('#container').highcharts({
            chart: {
              renderTo: 'chart',
              type: 'column',
              margin: 75,
              marginTop:100,
              options3d: {
                enabled: true,
                alpha: 0,
                beta: 0,
                depth: 50,
                viewDistance: 25
              }
            },
            scrollbar: { enabled: true },
              title: {
                  text: tag2
              },
              xAxis: {
                  categories: claveTag1
              },
              yAxis: {
                  title: {
                      text: 'Numero de elementos'
                  }
              },
              series: [{
                  name: 'TAG1',
                  data: valorTag1
              }],
          });
          $('#container2').highcharts({
            chart: {
              renderTo: 'chart',
              type: 'column',
              margin: 75,
              marginTop:100,
              options3d: {
                enabled: true,
                alpha: 0,
                beta: 0,
                depth: 50,
                viewDistance: 25
              }
            },

            scrollbar: { enabled: true },
              title: {
                  text: tag2
              },
              xAxis: {
                  categories: claveTag3
              },
              yAxis: {
                  title: {
                      text: 'Numero de elementos'
                  }
              },
              series: [{
                  name: 'TAG3',
                  data: valorTag3
              }],
          });
      };
      });
    };



    function Graficos_TAG3(tag3){
     $(function(){
       $.ajax({
         url:  '/noinventory/datosTag3/?tag3='+tag3,
         type: 'get',
         success: function(datos) {
           Visualiza_datos3(datos);
         },
         failure: function(datos) {
           alert('esto no vá');
         }
       });


       function Visualiza_datos3(datos) {
           var claveTag1=datos['datos1']['clave'];
           var valorTag1=datos['datos1']['valor'];

           var claveTag2=datos['datos2']['clave'];
           var valorTag2=datos['datos2']['valor'];


           console.debug('voy a mostrar el nombre de los bares')
           console.log(claveTag1);
           console.log(valorTag1);
       $('#container').highcharts({
           chart: {
               type: 'bar'
           },
           title: {
               text: tag3
           },
           xAxis: {
               categories: claveTag1
           },
           yAxis: {
               title: {
                   text: 'Numero de elementos'
               }
           },
           series: [{
               name: 'TAG1',
               data: valorTag1,
           }],
       });
       $('#container2').highcharts({
           chart: {
               type: 'bar'
           },
           title: {
               text: tag3
           },
           xAxis: {
               categories: claveTag2
           },
           yAxis: {
               title: {
                   text: 'Numero de elementos'
               }
           },
           series: [{
               name: 'TAG2',
               data: valorTag2
           }],
       });
   };
   });
 };
             </script>

{% endblock %}
