{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<a class="twitter-timeline"  href="https://twitter.com/no_inventory" data-widget-id="706815994006794240">Tweets por el @no_inventory.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


{% endblock %}


        {% block body_block %}

    <div class="page-header">
                <h1>¡Bienvenido a No-inventory!</h1>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">¿Qué es No-inventory?</h3>
            <hr>
            No-inventory es la aplicación que te permitirá llevar un control exaustivo de todos los activos de tu negocio
        </div>
             Facil Catalogación
            <br>
             Facil Localización
            <br>
             Facil seguimiento
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">¿Qué servicios proporciona No-inventory?</h3>
            <hr>
            No-inventory en las redes sociales
        </div>


      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">¿Por qué utilizar No-inventory?</h3>
            <hr>
            No-inventory utiliza un motor de bases de datos No-relacional que proporciona una mayor flexibilidad y eficiencia en la administración de sus activos
        </div>
             servicio
            <br>
             servicio
            <br>
             servicio
      </div>


        {% endblock %}
