{% extends "base.html" %}
{% load qr %}
{% load staticfiles %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<br>
<br>
<br>
<!--<a class="twitter-timeline"  href="https://twitter.com/no_inventory" data-widget-id="706815994006794240">Tweets por el @no_inventory.</a>
<script>//!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->

{% endblock %}


        {% block body_block %}
        <div id="freeow" class="freeow freeow-bottom-right"></div>

    <div class="page-header">
      <div align="center">
                <img src="{% static 'noinventory/css/noInventory.png' %}"/>
              </div>
    </div>







      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">¿Qué es No-inventory?</h3>
            <hr>
            <p>No-Inventory es la plataforma definitiva para llevar un control exaustivo de todos los activos de tu negocio.
            Proporciona un entorno colaborativo que permite trabajar a distintos usuarios agrupados por organizaciones.
            No-Inventory esta alojado en la nube y cuenta con una extensión android con soporte para realizar las tareas
            de gestión mediante códigos de barras, códigos QR o etiquetas NFC.</p>
        </div>
            <p>
            Ahorra tiempo y dinero en la gestión de tu almacen
            <br>
            Controla tu almacén desde tu propio Smartphone
            <br>
            Generación automatizada de Gráficos e Informes
          </p>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">¿Ponte en contacto?</h3>
            <hr>

            <form id="buzon" method="post" action="/">
              {% csrf_token %}
              {% load bootstrap %}
              <div class="row">
              <div class="col-xs-6">
                {{ form.origen|bootstrap }}
            </div>
              <div class="col-xs-6">
                {{ form.destino|bootstrap }}
            </div>
          </div>
              {{ form.asunto|bootstrap }}
              {{ form.correo|bootstrap }}


                <input onclick="setNotificacion();" type="submit" name="submit" value="Enviar Correo" style="color:#111111;" />
            </form>

        </div>


        </div>





<script>
function setNotificacion() {
  $("#freeow").freeow("Estamos intentando enviar tu correo", "En breve recibirás una notificación", {
    classes: ["smokey", "notice"],
    autoHideDelay:10000

  });
}
</script>

        {% endblock %}
