{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<button id="save">guardar Informe</button>
 <a href="#" target="_blank" class="button" id="generaPDF"><button> generaPDF</button></a>



<select name="lista_informes" id="lista_informes" >
  {% for i in lista_informes %}
    <option value="{{i.nombre_informe}}">{{i.nombre_informe}}</option>
    {% endfor %}
 </select>

{% endblock %}

        {% block body_block %}
        <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
        <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>


        <input type="text" class="form-control" id="nombre_informe" placeholder="Escribe el nombre del informe">

        <textarea name="editor" id="editor" class="col-md-12 full-height" rows="10">



        </textarea>




    <script>

    $('#save').click(function () {
        console.log("Boton guardar")
        var nombre_informe=document.getElementById('nombre_informe');
        var contenido=nicEditors.findEditor('editor').getContent();

        console.log(nombre_informe.value);
        console.log(contenido);
        $.ajax({
          url: "/noinventory/guardarInforme/",
          type: "get", //send it through get method
          data:{nombre_informe:nombre_informe.value,datos_informe:String(contenido)},
          success: function(response) {
            console.log(response["informes"][0]);
            $('#lista_informes').html(
              function(){
                    var content = '<select name="lista_informes" id="lista_informes">';
                    for(var i = 0; i < response["informes"].length; i++){
                         content = content + '<option value="'+response["informes"][i]["nombre_informe"]+'">'+response["informes"][i]["nombre_informe"]+'</option>';
                   }
                        content = content + '</select>';
                        return content;
             }
            )
          },
          error: function(xhr) {
      //Do Something to handle error
          }
      });




    });

    $().ready(function GetInforme(){
      $('#lista_informes').click(function () {
        $('#generaPDF').attr('href','/noinventory/generaPDF/?nombre_informe='+document.getElementById('lista_informes').value);
      });
      $('#lista_informes').change(function () {
        console.log("Boton visualiziar")
        $('#generaPDF').attr('href','/noinventory/generaPDF/?nombre_informe='+document.getElementById('lista_informes').value);
        var nombre_informe=document.getElementById('lista_informes').value;
        console.log(nombre_informe)
        $.ajax({
          url: "/noinventory/visualizarInforme/",
          type: "get", //send it through get method
          data:{nombre_informe:nombre_informe},
          success: function(response) {
            console.log(response["informe"]);
            $('#nombre_informe').val(response["informe"]["nombre_informe"]);
            nicEditors.findEditor('editor').setContent(response["informe"]["datos_informe"])

            //Do Something
          },
          error: function(xhr) {
      //Do Something to handle error
          }
      });

  });
  });


  </script>




{% endblock %}
