{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/noinventory/nuevoItem"> <button id='nuevoItem'>Nuevo Item</button></a>
<button id="cmd">generate PDF</button>
{% endblock %}

        {% block body_block %}


<textarea class="col-md-6 full-height" rows="30" id="pad">
#Informe OSL para la Unidad de Calidad


### Numero de Items: {{numeroItems}}

       </textarea>
       <div class="col-md-6 full-height" id="markdown"></div>

       <div id="editor"></div>







    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>

    <script >
    window.onload = function() {
      var converter = new showdown.Converter();
      var pad = document.getElementById('pad');
      var markdownArea = document.getElementById('markdown');

      var convertTextAreaToMarkdown = function(){
        var markdownText = pad.value;
        console.log(markdownText)
        html = converter.makeHtml(markdownText);
        markdownArea.innerHTML = html;
      };
    pad.addEventListener('input', convertTextAreaToMarkdown);
    convertTextAreaToMarkdown();
    };



    var doc = new jsPDF();
    var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {
    doc.fromHTML($('#markdown').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('sample-file.pdf');
});

    </script>




{% endblock %}
