{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}


{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/noinventory/nuevoInventario"> <button id='nuevoInventario'>Nuevo Inventario</button></a>
{% endblock %}


        {% block body_block %}

    <div class="page-header">
                <h1>¡Bienvenido a Gestion de Inventario!</h1>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Inventarios Destacados</h3>
        </div>
      </div>
      <div id="accordion">
        {% if lista_inventarios %}
          {% for i in lista_inventarios %}
              <h3>Nombre: {{i.nombre_inventario}} Fecha: {{i.fecha_alta_inventario}} </h3>
              <div id="{{ i|documento_id }}">
                <p>
                  Descripcion: {{ i.descripcion_inventario }}
                </p>
                Tags: {{i.tag_inventario}}
                <br>
                {{ i.qr_data|qrcode:"my alt" }}
                <button class="btn btn-default btn-xs borrarBoton" data-inventory="{{i.id}}">Borrar</button>
                 <a href="/noinventory/inventario/{{ i|documento_id }}"> <button class="btn btn-default btn-xs">Items</button></a>
                 <a href="/noinventory/modificarInventario/{{ i|documento_id}}"><button class="btn btn-default btn-xs"> Modificar</button> </a>
              </div>
          {% endfor %}
        {% else %}
             <strong>No hay Inventarios.</strong>
        {% endif %}
        </div>
        <br>
        <br>
        <br>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Inventario dinamico </h3>
        </div>
      </div>


      <div id="draggable" class="ui-widget-content">
        <p>Item de prueba</p>
      </div>

      <div id="droppable" class="ui-widget-header">
        <p>Inventario de prueba</p>
      </div>


        {% endblock %}
