{% extends "base.html" %}
{% load qr %}
{% block title %}Items{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/noinventory/nuevoItem"> <button id='nuevoItem'>Nuevo Item</button></a>
<hr>

<div class="btn-group col-xs-12" data-toggle="buttons" >
    <label class="btn btn-default  active ">
    <input name="bt_tag1" id="bt_tag1" value="tag1"  type="checkbox"  checked="checke">TAG1</label>
      <hr>
      <br>

    <label class="btn btn-default active">
    <input name="bt_tag2" id="bt_tag2" value="tag2"  type="checkbox"  checked="checked" >TAG2</label>
    <hr>
    <br>
    <label class="btn btn-default active">
    <input name="bt_tag3" id="bt_tag3" value="tag3"  type="checkbox"  checked="checked" >TAG3</label>
    <hr>
    <br>
</div>


<script>

$(document).on('click', ".borrarBoton", function () {
  console.log("boton para borrar")
  var catid = $(this).attr("data-item")
  console.log("has pulsado el boton")
  console.log(catid)
});


$(document).ready(function(){
  $("#bt_tag1").checked="checked";
  $("#bt_tag2").checked="checked";
  $("#bt_tag3").checked="checked";

  //$("#tag1").show();
  //$("#tag2").hide();
  //$("#tag3").hide();
  //var dato_l1 = document.getElementById('tag1').value;
  //Graficos_TAG1(dato_l1)
  console.log("Entrando a la funcion")
  var busqueda_1=true;
  var busqueda_2=true;
  var busqueda_3=true;
    $("#bt_tag1").change(function() {
      if($(this).is(":checked")) {
        //$(this).checked=""
        console.log("selecionado")
        busqueda_1=true;
        $("#tag1").show();

       } else {
         //$(this).checked="checked"
         console.log("No selecionado")
         busqueda_1=false;
         $("#tag1").hide();
       }
    });
    $("#bt_tag2").change(function() {
      if($(this).is(":checked")) {
        console.log("selecionado")
        busqueda_2=true;
        $("#tag2").show();

       } else {
         console.log("No selecionado")
         busqueda_2=false;
         $("#tag2").hide();
       }

    });
    $("#bt_tag3").change(function() {
      if($(this).is(":checked")) {
        console.log("selecionado")
        busqueda_3=true;
        $("#tag3").show();

       } else {
         console.log("No selecionado")
         busqueda_3=false;
         $("#tag3").hide();
       }
    });

    $("#busqueda").click(function() {
      var modo_busqueda=0;
      var tag_1=document.getElementById('tag1').value;
      var tag_2=document.getElementById('tag2').value;
      var tag_3=document.getElementById('tag3').value;

      console.log("Realizando busquedaaaaa")
      if (busqueda_1==true && busqueda_2==false && busqueda_3==false) {
        modo_busqueda=1;
      }
      console.log(modo_busqueda)

      $.ajax({
        url: "/noinventory/busqueda/",
        type: "get", //send it through get method
        data:{modo_busqueda:modo_busqueda,tag1:tag_1,tag2:tag_2,tag3:tag_3},
        success: function(response) {
          console.log(response);
          $('#accordion').html(response)
          if ( typeof $("#accordion").accordion('instance') != 'undefined') {
            $("#accordion").accordion('destroy');
          }
          $("#accordion").accordion({
            collapsible: true
          });




          //Do Something
        },
        error: function(xhr) {
    //Do Something to handle error
        }
    });


    });

  });

</script>






{% endblock %}

        {% block body_block %}

    <div class="page-header">
                <h1>¡Bienvenido a Gestion de Catalogo!</h1>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Items Destacados</h3>
        </div>
      </div>

                  <hr>
                  {% if lista_tag1 %}
                  <select name="tag1" id="tag1" >
                    {% for i in lista_tag1 %}
                      <option value="{{i.VALOR1}}">{{i.VALOR1}}</option>
                      {% endfor %}
                   </select>
                  {% else %}
                       <strong>No hay TAG 1.</strong>
                  {% endif %}



                  {% if lista_tag2 %}
                  <select name="tag2" id="tag2">
                    {% for i in lista_tag2 %}
                      <option value="{{i.VALOR2}}">{{i.VALOR2}}</option>
                      {% endfor %}
                   </select>
                  {% else %}
                       <strong>No hay TAG2</strong>
                  {% endif %}




          {% if lista_tag3 %}
          <select name="tag3" id="tag3">
            {% for i in lista_tag3 %}
              <option value="{{i.VALOR3}}">{{i.VALOR3}}</option>
              {% endfor %}
           </select>
          {% else %}
               <strong>No hay Objetos.</strong>
          {% endif %}

          <button id='busqueda'>Buscar</button>
          <hr>





      <div id="accordion">
        {% if lista_items %}
          {% for i in lista_items %}
              <h3>Nombre: {{i.nombre_item}} Fecha: {{i.fecha_alta_item}} </h3>
              <div id="{{ i|documento_id}}">
                <p>
                  Descripcion: {{ i.descripcion_item }}
                </p>
                TAG1: {{i.tag1}}
                <br>
                TAG2: {{ i.tag2 }}
                TAG3: {{ i.tag3 }}
                <br>
                localizador: {{ i.localizador }}
                <br>
                {{ i.qr_data|qrcode:"qr_data" }}
                <br>
                Creado por: {{ i.usuario }}
                Para la Organizacion: {{i.organizacion}}
                <br>
              <button class="borrarBoton" data-item="{{ i|documento_id}}" id="{{ i|documento_id}}">Borrar</button>
              <a href="/noinventory/modificarItem/{{ i|documento_id}}"><button class="btn btn-default btn-xs"> Modificar</button> </a>
              <a href="/noinventory/item/{{ i|documento_id}}" > <button id='item_details'>Detalles</button></a>

              </div>
          {% endfor %}
        {% else %}
             <strong>No hay Objetos.</strong>
        {% endif %}
        </div>
      


        {% endblock %}
