{% extends "base.html" %}
{% load qr %}
{% block title %}Items{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/noinventory/nuevoItem"> <button id='nuevoItem'>Nuevo Item</button></a>
<button id="deleteSearch">Eliminar Items</button>
<hr>

<div class="btn-group col-xs-12" data-toggle="buttons" >
    <label class="btn btn-default  active ">
    <input name="bt_tag1" id="bt_tag1" value="tag1"  type="checkbox"  checked="checke">TAG1</label>
      <hr>
      <br>

    <label class="btn btn-default active">
    <input name="bt_tag2" id="bt_tag2" value="tag2"  type="checkbox"  checked="checked" >TAG2</label>
    <hr>
    <br>
    <label class="btn btn-default active">
    <input name="bt_tag3" id="bt_tag3" value="tag3"  type="checkbox"  checked="checked" >TAG3</label>
    <hr>
    <br>
    <label class="btn btn-default active">
    <input name="bt_fecha" id="bt_fecha" value="fecha"  type="checkbox"  checked="checked" >Fecha</label>
    <hr>
    <br>
    <label class="btn btn-default active">
    <input name="bt_texto" id="bt_texto" value="texto"  type="checkbox"  checked="checked" >Texto</label>
</div>


<script>



$(function () {
    $("#addToCatalogo").click(function ()
    {
      var lista_add=[]
        $("#accordion div").each(function (index)
        {
            lista_add.push($(this).attr("data-item"));

        })
        var lista_json = JSON.stringify(lista_add);
        var catalogo_id=JSON.stringify(document.getElementById('lista_catalogos').value);
        console.log(catalogo_id)
        "Catalogo"
        $.ajax({
          url: "/noinventory/addSearchToCatalogo/",
          type: "get", //send it through get method
          data:{lista_items:lista_json,catalogo_id:document.getElementById('lista_catalogos').value},
          cache: false,
          success: function(response) {
            console.log(response);

          },
          error: function(xhr) {
          }
      });
    })
})





$(function () {
    $("#deleteSearch").click(function ()
    {
      var lista_borrar=[]
        $("#accordion div").each(function (index)
        {
            lista_borrar.push($(this).attr("id"));

        })
        var lista_json = JSON.stringify(lista_borrar);
        $.ajax({
          url: "/noinventory/borrarItems/",
          type: "get", //send it through get method
          data:{lista_items:lista_json},
          cache: false,
          success: function(response) {
            console.log(response);
            $('#accordion').html(response)
            if ( typeof $("#accordion").accordion('instance') != 'undefined') {
              $("#accordion").accordion('destroy');
            }
            $("#accordion").accordion({
              collapsible: true
            });
          },
          error: function(xhr) {
          }
      });
    })
})

$(document).on('click', ".borrarBoton", function () {
  console.log("boton para borrar")
  var catid = $(this).attr("data-item")
  console.log("has pulsado el boton")
  console.log(catid)
  $.ajax({
    url: "/noinventory/borrarItem/",
    type: "get", //send it through get method
    data:{item_id:catid},
    success: function(response) {
      console.log(response);
      $('#accordion').html(response)
      if ( typeof $("#accordion").accordion('instance') != 'undefined') {
        $("#accordion").accordion('destroy');
      }
      $("#accordion").accordion({
        collapsible: true
      });
    },
    error: function(xhr) {
    }
  });
});


$(document).ready(				//Lanza la selección de fecha
	function () {
	    $( "#datepicker" ).datepicker({
	      dateFormat: "yy-mm-dd",
	      changeMonth: true,
	      changeYear: true

	    }).datepicker("setDate",new Date());

	}
);

$('#datepicker').change(function () {		//Actualiza los datos al cambiar de fecha,sin recargar la página, utilizando AJAX

  var fecha = document.getElementById('datepicker').value;
  console.log(fecha)
});




$(document).ready(function(){
  $("#bt_tag1").checked="checked";
  $("#bt_tag2").checked="checked";
  $("#bt_tag3").checked="checked";
  $("#bt_fecha").checked="checked";


  //$("#tag1").show();
  //$("#tag2").hide();
  //$("#tag3").hide();
  //var dato_l1 = document.getElementById('tag1').value;
  //Graficos_TAG1(dato_l1)
  console.log("Entrando a la funcion")
  var busqueda_1=true;
  var busqueda_2=true;
  var busqueda_3=true;
  var busqueda_4=true;
  var busqueda_5=true;
    $("#bt_tag1").change(function() {
      if($(this).is(":checked")) {
        //$(this).checked=""
        console.log("selecionado")
        busqueda_1=true;
        $("#tag1").show();

       } else {
         //$(this).checked="checked"
         console.log("No selecionado")
         busqueda_1=false;
         $("#tag1").hide();
       }
    });
    $("#bt_tag2").change(function() {
      if($(this).is(":checked")) {
        console.log("selecionado")
        busqueda_2=true;
        $("#tag2").show();

       } else {
         console.log("No selecionado")
         busqueda_2=false;
         $("#tag2").hide();
       }

    });
    $("#bt_tag3").change(function() {
      if($(this).is(":checked")) {
        console.log("selecionado")
        busqueda_3=true;
        $("#tag3").show();

       } else {
         console.log("No selecionado")
         busqueda_3=false;
         $("#tag3").hide();
       }
    });
    $("#bt_fecha").change(function() {
      if($(this).is(":checked")) {
        console.log("selecionado")
        busqueda_4=true;
        $("#datepicker").show();

       } else {
         console.log("No selecionado")
         busqueda_4=false;
         $("#datepicker").hide();
       }
    });
    $("#bt_texto").change(function() {
      if($(this).is(":checked")) {
        console.log("selecionado")
        busqueda_5=true;
        $("#texto").show();

       } else {
         console.log("No selecionado")
         busqueda_5=false;
         $("#texto").hide();
       }
    });


    $("#busqueda").click(function() {
      var modo_busqueda=6;
      var tag_1=document.getElementById('tag1').value;
      var tag_2=document.getElementById('tag2').value;
      var tag_3=document.getElementById('tag3').value;
      var fecha=document.getElementById('datepicker').value;
      var texto=document.getElementById('texto').value;

      console.log("Realizando busquedaaaaa")
      if (busqueda_1==false && busqueda_2==false && busqueda_3==false&&busqueda_4==false&&busqueda_5==false) {
        modo_busqueda=0;
      }
      if (busqueda_1==true && busqueda_2==false && busqueda_3==false&&busqueda_4==false&&busqueda_5==false) {
        modo_busqueda=1;
      }
      if (busqueda_1==false && busqueda_2==false && busqueda_3==false&&busqueda_4==true&&busqueda_5==false) {
        modo_busqueda=4;
      }
      if (busqueda_1==false && busqueda_2==false && busqueda_3==false&&busqueda_4==false&&busqueda_5==true) {
        modo_busqueda=5;
      }
      console.log(modo_busqueda)

      $.ajax({
        url: "/noinventory/busqueda/",
        type: "get", //send it through get method
        data:{modo_busqueda:modo_busqueda,tag1:tag_1,tag2:tag_2,tag3:tag_3,fecha:fecha,texto:texto},
        success: function(response) {
          console.log(response);
          $('#accordion').html(response)
          if ( typeof $("#accordion").accordion('instance') != 'undefined') {
            $("#accordion").accordion('destroy');
          }
          $("#accordion").accordion({
            collapsible: true
          });
          //Do Something
        },
        error: function(xhr) {
    //Do Something to handle error
        }
    });


    });

  });

</script>






{% endblock %}

        {% block body_block %}

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Busqueda</h3>
              <hr>
              Utiliza las tags o expresiones regulares para realizar tu <button type="button" class="btn btn-success" id='busqueda' >Busqueda</button>
          </div>
          {% if lista_tag1 %}
          <select name="tag1" id="tag1" class="form-control">
            {% for i in lista_tag1 %}
              <option value="{{i.VALOR1}}">{{i.VALOR1}}</option>
              {% endfor %}
           </select>
          {% else %}
               <strong>No hay TAG 1.</strong>
          {% endif %}

          {% if lista_tag2 %}
          <select name="tag2" id="tag2" class="form-control" >
            {% for i in lista_tag2 %}
              <option value="{{i.VALOR2}}">{{i.VALOR2}}</option>
              {% endfor %}
           </select>
          {% else %}
               <strong>No hay TAG2</strong>
          {% endif %}

            {% if lista_tag3 %}
            <select name="tag3" id="tag3" class="form-control">
            {% for i in lista_tag3 %}
              <option value="{{i.VALOR3}}">{{i.VALOR3}}</option>
              {% endfor %}
            </select>
            {% else %}
               <strong>No hay Objetos.</strong>
            {% endif %}
            <input type="text" id="datepicker" class="form-control" />
            <input type="text" id="texto" class="form-control" placeholder="Texto a buscar" />
        </div>



         <div id="paginas">
         <div id="accordion">
           {% if lista_items %}
             {% for i in lista_items %}
             <div class="panel panel-default">

                 <h5>Nombre: {{i.nombre_item}} Fecha: {{i.fecha_alta_item}} </h5>
               </div>

                 <div id="{{ i|documento_id}}" data-item="{{ i|documento_id}}" >
                   <p>
                     Descripcion: {{ i.descripcion_item }}
                   </p>
                   TAG1: {{i.tag1}}
                   <br>
                   TAG2: {{ i.tag2 }}
                   TAG3: {{ i.tag3 }}
                   <br>
                   localizador: {{ i.localizador }}
                   <br>
                   {{ i.qr_data|qrcode:"qr_data" }}
                   <br>
                   Creado por: {{ i.usuario }}
                   Para la Organizacion: {{i.organizacion}}
                   <br>
                 <button class="borrarBoton" data-item="{{ i|documento_id}}" id="{{ i|documento_id}}">Borrar</button>
                 <a href="/noinventory/modificarItem/{{ i|documento_id}}"><button class="btn btn-default btn-xs"> Modificar</button> </a>
                 <a href="/noinventory/item/{{ i|documento_id}}" > <button id='item_details'>Detalles</button></a>

                 </div>
             {% endfor %}
           {% else %}
                <strong>No hay Objetos.</strong>
           {% endif %}
           </div>

           <div class="col-md-12 text-center">
                    <ul id="myPager" class="pagination"></ul>
           </div>

         </div>

         <br>
         <br>
         <br>



         <div class="panel panel-primary">
           <div class="panel-heading">
             <select name="lista_catalogos" id="lista_catalogos" class="form-control">
               {% for i in lista_catalogos %}
                <h3 class="panel-title"> <option value="{{ i|documento_id}}">{{i.nombre_catalogo}}</option></h3>
                 {% endfor %}
              </select>
               <hr>
               Utiliza el resultado de tu busqueda para <button type="button" class="btn btn-info" id="addToCatalogo">Añadir contenido a tu Catalogo</button>
           </div>
          </div>







        <script>
        /* pagination plugin */
        $.fn.pageMe = function(opts){
            var $this = this,
                defaults = {
                    perPage: 7,
                    showPrevNext: false,
                    numbersPerPage: 1,
                    hidePageNumbers: false
                },
                settings = $.extend(defaults, opts);

            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pagination');

            if (typeof settings.childSelector!="undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector!="undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems/perPage);

            var curr = 0;
            pager.data("curr",curr);

            if (settings.showPrevNext){
                $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
            }

            while(numPages > curr && (settings.hidePageNumbers==false)){
                $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
                curr++;
            }

            if (settings.numbersPerPage>1) {
               $('.page_link').hide();
               $('.page_link').slice(pager.data("curr"), settings.numbersPerPage).show();
            }

            if (settings.showPrevNext){
                $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.prev_link').hide();
            if (numPages<=1) {
                pager.find('.next_link').hide();
            }
          	pager.children().eq(0).addClass("active");

            children.hide();
            children.slice(0, perPage).show();

            pager.find('li .page_link').click(function(){
                var clickedPage = $(this).html().valueOf()-1;
                goTo(clickedPage,perPage);
                return false;
            });
            pager.find('li .prev_link').click(function(){
                previous();
                return false;
            });
            pager.find('li .next_link').click(function(){
                next();
                return false;
            });

            function previous(){
                var goToPage = parseInt(pager.data("curr")) - 1;
                goTo(goToPage);
            }

            function next(){
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page){
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                children.css('display','none').slice(startAt, endOn).show();

                if (page>=1) {
                    pager.find('.prev_link').show();
                }
                else {
                    pager.find('.prev_link').hide();
                }

                if (page<(numPages-1)) {
                    pager.find('.next_link').show();
                }
                else {
                    pager.find('.next_link').hide();
                }

                pager.data("curr",page);

                if (settings.numbersPerPage>1) {
               		$('.page_link').hide();
               		$('.page_link').slice(page, settings.numbersPerPage+page).show();
            	}

              	pager.children().removeClass("active");
                pager.children().eq(page+1).addClass("active");

            }
        };
        /* end plugin */

        $(document).ready(function(){
          $('#paginas').pageMe({pagerSelector:'#myPager',childSelector:'.panel',showPrevNext:true,hidePageNumbers:false,perPage:6});

        //  $('#prueba').pageMe({pagerSelector:'#myPager',childSelector:'.panel',showPrevNext:true,hidePageNumbers:false,perPage:4});

        });
        </script>



        {% endblock %}
