{% extends "base.html" %}
{% load qr %}
{% block title %}Items{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="{% url 'nuevoItem' %}"><button id='nuevoItem'>Nuevo Item</button></a>
{% endblock %}

        {% block body_block %}

    <div class="page-header">
                <h1>¡Bienvenido a Gestion de Inventario!</h1>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Items Destacados</h3>
        </div>
      </div>
      <div id="accordion">
        {% if lista_items %}
          {% for i in lista_items %}
              <h3>Nombre: {{i.nombre_item}} Fecha: {{i.fecha_alta_item}} </h3>
              <div id="{{i.id}}">
                <p>
                  Descripcion: {{ i.descripcion_item }}
                </p>
                Tags: {{i.tag_item}}
                <br>
                Estado: {{i.estado_item}}
                Tipo: {{ i.tipo_item }}
                <br>
                Centro: {{i.centro}}
                Codigo Centro: {{ i.codigo_centro }}
                <br>
                {{ i.qr_data|qrcode:"my alt" }}
                <button class="btn btn-default btn-xs borrarBoton" data-item="{{i.id}}">Borrar</button>
              </div>
          {% endfor %}
        {% else %}
             <strong>No hay Objetos.</strong>
        {% endif %}
        </div>


               <!--Funcionalidad de borrado asincrono -->
               <script>
                 $(".borrarBoton").click(function(){
                   var itemid;
                   itemid = $(".borrarBoton").attr("data-item");
                    console.log(itemid);
                   $.get('/borrarItem?dato='+itemid, function(data){
                          console.log(data);
                          console.log(itemid);
                          $("#"+itemid).html("Borrado");
                        });
                      });
               </script>


                <script src="http://code.highcharts.com/highcharts.js"></script>
                <div id="container" style="height: 300px"></div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Por contruir</h3>
        </div>
      </div>

        {% endblock %}
