{% extends "base.html" %}

{% block body_block %}
        <h1>Añadir item</h1>

        <form id="itemformCreator" method="post" action="/nuevoItem/">
          {% csrf_token %}
          {% load bootstrap %}
          {{ form.nombre_item|bootstrap }}
          {{ form.descripcion_item|bootstrap }}
          {{ form.tag1|bootstrap }}
          {{ form.tag2|bootstrap }}
          {{ form.tag3|bootstrap }}
          {{ form.cantidad|bootstrap }}




            <input type="submit" name="submit" value="Crear" />
        </form>
  {% endblock %}
