{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}





{% block body_block %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Administracion</h3>
  </div>
      <a href="/noinventory/deleteItems"> <button id='deleteItems'>Eliminar Todos los Items</button></a>

      <br>
      <a href="/noinventory/deleteInventorys"> <button id='deleteInventorys'>Eliminar Todos los Catalogos</button></a>

      <br>
</div>
  <form action="/noinventory/preferencias/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% load bootstrap %}
    {{ form.file_tag1|bootstrap }}

      <input type="submit" value="Submit">
  </form>
  {% endblock %}
