{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}





{% block body_block %}
<!--<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Administracion</h3>
  </div>
      <a href="/deleteItems"> <button id='deleteItems'>Eliminar Todos los Items</button></a>

      <br>
      <a href="/deleteInventorys"> <button id='deleteInventorys'>Eliminar Todos los Catalogos</button></a>

      <br>
      <a href="/deleteInformes"> <button id='deleteInformes'>Eliminar Todos los informes</button></a>

</div>-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Administracion</h3>
  </div>
  <form action="/preferencias/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% load bootstrap %}
    {{ form.file_tag1|bootstrap }}
    {{ form.file_tag2|bootstrap }}
    {{ form.file_tag3|bootstrap }}

      <input type="submit" value="Enviar Preferencia">
  </form>
</div>
<br>
<hr>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Registro de Log</h3>
  </div>
{% for l in log %}
  {{ l }}
  <br>
{% endfor %}
</div>
  {% endblock %}
