{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}





{% block body_block %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Administracion</h3>
  </div>
      <a href="/noinventory/deleteItems"> <button id='deleteItems'>Eliminar Todos los Items</button></a>

      <br>
      <a href="/noinventory/deleteInventorys"> <button id='deleteInventorys'>Eliminar Todos los Inventarios</button></a>

      <br>
</div>
<form id="tagsForm" method="post" action="/noinventory/preferencias/">
  {% csrf_token %}
  {{ form.archivo}}
        <input type="submit" value="Submit">
    </form>
  {% endblock %}
