{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/nuevoItem"> <button id='nuevoItem'>Nuevo Item</button></a>
{% endblock %}

        {% block body_block %}

        <script src="http://code.highcharts.com/highcharts.js"></script>
                  <div id="container" style="height: 300px"></div>

        <!--Funcionalidad de borrado asincrono -->
        <script>



    $(".buttonDelete2").click(function() {
        var button = this;
        var catid = $(button).attr("data-item")
        console.log("has pulsado el boton")
        console.log($(button).attr("data-item"))
        $.ajax({
            url:  '/borrarItem/?id_item='+catid,
            type: 'GET',
            result: $(this).serialize(),
            dataType: 'json',
            success: function(result) {
              console.log("ejecutando get")
              //console.log(result["items"][0]["descripcion"]);
              $('.table').html(
			             function(){
                         var content = '<table class="table table-hover"><thead><tr><th>Item</th><th>Descripcion</th><th>Fecha</th><th>Tag1</th><th>TAG2</th><th>TAG3</th> <th>Localizador</th><th>Acciones</th></tr></thead><tbody>';
                         for(var i = 0; i < result["items"].length; i++){
                              content = content + '<tr><td>' + result["items"][i]["nombre_item"]+'</td>';
                 				      content = content + '<td>' + result["items"][i]["descripcion_item"] + '</td>';
                              content = content + '<td>' + result["items"][i]["fecha_alta_item"]+'</td>';
                              content = content + '<td>' + result["items"][i]["tag1"]+'</td>';
                              content = content + '<td>' + result["items"][i]["tag2"]+'</td>';
                              content = content + '<td>' + result["items"][i]["tag3"]+'</td>';
                              content = content + '<td>' + result["items"][i]["localizador"]+'</td>';
                              content = content + '<td><a href="/modificarItem/'+result["items"][i]["_id"]+'"><button class="btn btn-default btn-xs"> Update</button> </a>'
                              content = content + '<input class="buttonDelete"  type="button" name="Delete" value="Delete" data-item="'+result["items"][i]["_id"]+'"></input>'
                              content = content + '<button class="buttonDelete2" data-item="'+result["items"][i]["_id"]+'"> Delete2</button> </td></tr>'
                 				}
				                     content = content + '</tbody></table>';
				                     return content;
			            }
			        )
            }
        });
    });




        </script>

        <script>
           $(function(){
             $.ajax({
               url:  '/datosTag1/?tag1=Hospital%20Real',
               type: 'get',
               success: function(datos) {
                 Visualiza_datos(datos);
               },
               failure: function(datos) {
                 alert('esto no vá');
               }
             });


             function Visualiza_datos(datos) {
                 var claveTag2=datos['claveTag2'];
                 var valorTag2=datos['valorTag2'];

                 console.debug('voy a mostrar el nombre de los bares')
                 console.log(claveTag2);
                 console.log(valorTag2);
             $('#container').highcharts({
                 chart: {
                     type: 'bar'
                 },
                 title: {
                     text: 'Top'
                 },
                 xAxis: {
                     categories: claveTag2
                 },
                 yAxis: {
                     title: {
                         text: 'Veces Visitado'
                     }
                 },
                 series: [{
                     name: 'Visitas',
                     data: valorTag2
                 }],
             });
         };
         });
             </script>

{% endblock %}
