{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/noinventory/nuevoItem"> <button id='nuevoItem'>Nuevo Item</button></a>
{% endblock %}

        {% block body_block %}
        <div id="content">
     <h3>Hello, this is a H3 tag</h3>

    <p>a pararaph</p>
</div>
<div id="editor"></div>
<button id="cmd">generate PDF</button>

<script>
var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {
    doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('sample-file.pdf');
});


    </script>




{% endblock %}
