{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}


{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/nuevoCatalogo"> <button id='nuevoCatalogo'>Nuevo Catalogo</button></a>
{% endblock %}


        {% block body_block %}

    <div class="page-header">
                <h1>¡Bienvenido a Gestion de Catalogo!</h1>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Catalogos Destacados</h3>
        </div>
      </div>


      <div>
        {% if lista_catalogos %}
          {% for i in lista_catalogos %}
          <div id="droppable" class="ui-widget-header" data-cata="{{ i|documento_id }}">
            <p>Catalogo i.nombre_catalogo </p>
            <p>Catalogo {{ i|documento_id }} </p>

          </div>
          {% endfor %}
        {% else %}
             <strong>No hay Catalogos.</strong>
        {% endif %}
      </div>
        <br>
        <br>
        <br>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">ITEMS</h3>
          </div>
        </div>
        <div>
          {% if lista_items %}
            {% for j in lista_items %}
            <div id="draggable" class="ui-widget-content" data-item="{{ j|documento_id }}">
  j          <p> {{j.nombre_item}} </p>
  j          <p>{{ j|documento_id }} </p>
            </div>

            {% endfor %}
          {% else %}
               <strong>No hay items.</strong>
          {% endif %}
        </div>
          <br>
          <br>
          <br>



      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Catalogo dinamico </h3>
        </div>
      </div>


        <p>Item de prueba</p>
        <div id="draggable" class="ui-widget-content">
      </div>

      <div id="droppable" class="ui-widget-header">
        <p>Catalogo de prueba</p>
      </div>


        {% endblock %}
