{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/noinventory/nuevoItem"> <button id='nuevoItem'>Nuevo Item</button></a>
{% endblock %}

        {% block body_block %}

        <article class="module width_3_quarter">
    		<header><h3 class="tabs_involved">Content Manager</h3>
    		<ul class="tabs">
       			<li><a href="#tab1">Posts</a></li>
        		<li><a href="#tab2">Comments</a></li>
    		</ul>
    		</header>

    		<div class="tab_container">
    			<div id="tab1" class="tab_content">
    			<table class="tablesorter" cellspacing="0">
    			<thead>
    				<tr>
       					<th></th>
        				<th>Entry Name</th>
        				<th>Category</th>
        				<th>Created On</th>
        				<th>Actions</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
       					<td><input type="checkbox"></td>
        				<td>Lorem Ipsum Dolor Sit Amet</td>
        				<td>Articles</td>
        				<td>5th April 2011</td>
        				<td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td>
    				</tr>

            	</tbody>
    			</table>

    			</div><!-- end of #tab2 -->

    		</div><!-- end of .tab_container -->

      </article>
{% endblock %}
