{% extends "base.html" %}
{% load qr %}
{% block title %}Index{% endblock %}

{% block lateral_izquierda %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acciones</h3>
  </div>
</div>
<a href="/noinventory/nuevoItem"> <button id='nuevoItem'>Nuevo Item</button></a>
{% endblock %}

        {% block body_block %}
        <button type="button" class="sustituto btn-default">ajax</button>

        <div id="accordion">
            {% for i in lista_items %}
                <h3>Nombre: {{i.nombre_item}} </h3>
                <div id="{{ i|documento_id }}">
                  <p> Descripcion: {{ i.descripcion_item }} </p>

                </div>
            {% endfor %}

          </div>




          <script type="text/javascript">
     $(function() {
          $( "#accordion" ).accordion({
               collapsible: true,
               active: false
          });
     });
     </script>

    <script>

                $(".sustituto").click(function() {
                  console.log("boton ajax")
                  $.ajax({
                    url: "/noinventory/prueba",
                    type: "get", //send it through get method
                    success: function(response) {
                      //console.log(response);
                      $('#accordion').html(
                           function(){
                             var content = ''
                             for(var i = 0; i < 3; i++){
                                  content = content + '<h3> Nombre</h3>';
                                  content = content + '<div id="'+i+'">';
                                  content = content + '<p> Descripcion </p>';
                                  content = content + '</div>';

                            }

                                 //content = content + '</div>';
                                 return content;
                               }
                      )
                      if ( typeof $("#accordion").accordion('instance') != 'undefined') {
                        $("#accordion").accordion('destroy');
                      }
                      $("#accordion").accordion({
                        collapsible: true
                      });




                      //Do Something
                    },
                    error: function(xhr) {
                //Do Something to handle error
                    }
                });


              });
















              </script>


{% endblock %}
